.vscode
.idea
DZ3/main1
DZ3/main2
DZ3/main3
DZ3/main4
DZ3/main5
DZ3/.main1.c.swp
DZ3/.main1.cnano.swp
DZ2/Черкашин Дмитрий. СИ базовый. ДЗ2.pdf:Zone.Identifier
DZ4/main1
DZ4/main2
DZ4/main3
DZ4/main4
DZ4/main5
DZ4/main6
DZ4/main7
DZ4/main8
DZ4/main9
DZ4/main10
DZ4/main11
DZ5/main1
DZ5/main2
DZ5/main3
DZ5/main4
DZ5/main5
DZ5/.vscode/tasks.json
DZ4/.vscode/tasks.json
DZ4/.vscode/settings.json
DZ3/.vscode/tasks.json
DZ3/.vscode/launch.json
DZ6/main1
DZ6/main2
DZ6/main3
DZ6/.vscode/tasks.json
DZ8/test.c
DZ8/test2
DZ8/test2.c
DZ8/test
DZ8/main8
DZ8/main7
DZ8/main6
DZ8/main5
DZ8/main4
DZ8/main3
DZ7/test.c
DZ7/test
DZ7/main6
DZ7/main1
DZ6/main8
DZ8/.vscode/tasks.json
DZ8/.vscode/settings.json
DZ8/.vscode/launch.json
DZ7/.vscode/tasks.json
.vscode/tasks.json
DZ8/buble sort.c
DZ10/.vscode/settings.json
DZ10/.vscode/tasks.json
DZ9/.vscode/tasks.json
